<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="/main.css" rel="stylesheet">

</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <div class="home">
            <div class="section one slide-in">
                <div class="heading_sub-heading group">
                    <div class="heading">
                        <h1 id="home_section_h1" class="meri">Hi, I'm <span style="color: #4993F9;">Nishant!</span> ✌️
                        </h1>
                        <h2 id="home_section_h2" class="meri">UI/UX Designer and Developer</h2>
                    </div>
                    <p class="body inter">Bringing creativity from the canvas to the screen.
                        I'm a UI/UX designer and front-end developer passionate about creating engaging and
                        user-friendly digital experiences.</p>
                </div>
                <button class="download_cv inter"><a href="/">Download CV</a></button>
            </div>
            <div class="section two slide-in">
                <div class="profile frame">
                    <img src="/profile image with background.png">
                </div>
            </div>
        </div>

        <div class="About" id="About">
            <div id="section1">

                <div class="About_me heading" id="aboutme_heading">
                    <div id="main_aboutme_heading">
                        <h1 class="h1 meri">About Me</h1>
                        <p class="body inter">UI/UX designer, wannabe artist, and coffee connoisseur.</h1>
                    </div>


                    <div class="social_media_links">
                        <a href="https://www.linkedin.com/in/nishant-%E2%80%9C-6b4571246/"> <img src="/linkedin.png">
                        </a>
                        <a href="https://www.instagram.com/lonely_nishant/"> <img src="/insta.png"> </a>
                        <a href=""> <img src="/gmail.png"> </a>
                    </div>
                </div>

                <div class="About_me Brief">
                    <div class="personal para inter">
                        <p class="inter">Hi, I'm Nishant, a UI/UX designer and front-end developer with a passion for
                            creating engaging and user-friendly digital experiences. When I'm not designing, you can
                            find me sipping coffee or exploring my artistic side. I'm driven by the desire to bring
                            creativity from the canvas to the screen, making a meaningful impact on people's lives.</p>
                    </div>
                </div>

            </div>

            <div class="section2">
                <div class="col1">
                    <div class="personal_info">
                        <h1 class="meri">Personal info</h1>
                    </div>
                    <div class="personal_info_divs">

                        <div id="divs" style="background-color: #ffe7a1; ">
                            <P class="inter" style="width:117px">Email:</P>
                            <P class="inter">Nishantnarang@111@gmail.com</P>
                        </div>
                        <div id="divs" style="background-color: white ;">
                            <P class="inter" style="width:117px">Phone:</P>
                            <P class="inter">+91 8860849591</P>
                        </div>
                        <div id="divs" style="background-color: #FDD6D0; ;">
                            <P class="inter" style="width:117px">School:</P>
                            <P class="inter">Lord Jesus Public School</P>
                        </div>
                        <div id="divs" style="background-color: white ;">
                            <P class="inter" style="width:117px">College:</P>
                            <P class="inter">Dronacharya College of Engineering</P>
                        </div>
                        <div id="divs" style="background-color: #D9E9FF ;">
                            <P class="inter" style="width:117px">Interests:</P>
                            <P class="inter">Painting, Sketching</P>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    <h1 class="h1 inter">Technical Skills</h1>
                    <div class="techincal_skills">
                        <div class="cards">
                            <img src="/graphic.png" class="bouncy-image">
                            <p class="inter">Graphic Designer</p>
                        </div>
                        <div class="cards">
                            <img src="/uiux.png" class="bouncy-image">
                            <p class="inter">UI/UX Designer</p>
                        </div>
                    </div>
                    <div class="techincal_skills">
                        <div class="cards">
                            <img src="/frontend backend.png" class="bouncy-image">
                            <p class="inter">Front-end/Back-end Developer</p>
                        </div>
                        <div class="cards">
                            <img src="/coding.png" class="bouncy-image">
                            <p class="inter">Coding Skills</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="skills" id="skills">
            <div class="skills_content">
                <div id="skills_heading">
                    <h1 class="h1 meri">My Technical ToolBox 🧮</h1>
                    <button class="certifications"><a class="inter" href="https://www.linkedin.com/in/nishant-%E2%80%9C-6b4571246/details/certifications/">Certifications</a></button>
                </div>
                <div id="skills_heading_points">
                    <div class="skills_list components">
                        <h3 class="h3 meri" style="font-size: 24px;">Web designing</h3>
                        <ul style="list-style: none;  padding:0px; margin-top:2px">
                            <li class="inter" id="Skills_points">Figma</li>
                            <li class="inter" id="Skills_points">Canva</li>
                        </ul>
                    </div>
                    <div class="skills_list components">
                        <h3 class="h3 meri" style="font-size: 24px;">Front-end</h3>
                        <ul style="list-style: none;  padding:0px; margin-top:2px">
                            <li class="inter" id="Skills_points">HTML</li>
                            <li class="inter" id="Skills_points">CSS</li>
                            <li class="inter" id="Skills_points">Javascript</li>
                        </ul>
                    </div>
                </div>
                <div class="skills_list components">
                    <h3 class="h3 meri" style="font-size: 24px;">Back-end</h3>
                    <ul style="list-style: none;  padding:0px; margin-top:2px">
                        <li class="inter" id="Skills_points">Node.js</li>
                        <li class="inter" id="Skills_points">API's</li>
                        <li class="inter" id="Skills_points">PostgreSQL</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>


        <div class="contact" id="contact">
            <div class="contact_section1">
                <h1 class="h1 meri">Contact me 📝</h1>
                <p class="inter">Get in Touch for Collaboration and Innovation! Feel free to reach out with any queries.</p>
            </div>
            <form class="contact_section2" action="/submit" method="post">
                <input class="inputs inter" type="text" placeholder="Name" name="Name">
                <input class="inputs inter" type="text"  placeholder="Email" name="Email">
                <input class="inputs inter" type="text" placeholder="Message" name="Message" style="margin-bottom: 40px;">
                <button type="submit" href  class="submit-button">Submit</button>
            </form>
        </div>
        <% if (locals.successMessage) { %>
            <script>
                // Use window.alert to show a prompt
                window.alert("<%= successMessage %>");
            </script>
        <% } %>
    
        <script>
            setTimeout(() => {
                document.querySelector('.success-message').style.display = 'none';
            }, 5000); // Hide after 5 seconds

            const section1 = document.querySelectorAll('.section.one');
            const section2 = document.querySelectorAll('.section.two');

            setTimeout(() => {
                section1.forEach((element) => {
                    element.classList.add('active');
                });
            }, 300);

            setTimeout(() => {
                section2.forEach((element) => {
                    element.classList.add('active');
                });
            }, 500);

            document.getElementById('nav_about').addEventListener('click', function (e) {
                e.preventDefault();

                document.getElementById('About').scrollIntoView({
                    behavior: 'smooth'
                });
            });

           
            document.getElementById('nav_skills').addEventListener('click', function (e){
                e.preventDefault();
                
                document.getElementById('skills').scrollIntoView({
                    behavior: 'smooth'
                });
            })

            document.getElementById('nav_contact').addEventListener('click', function (e){
                e.preventDefault();
                
                document.getElementById('contact').scrollIntoView({
                    behavior: 'smooth'
                });
            })

        </script>
</body>

</html>